.header {
  text-align: center;
  &__title {
    text-transform: uppercase;
    margin: 0 0 3px;
    padding: 0;
    font-size: calc(40px + 2vmin);
    font-weight: 800;
    font-family: "Open Sans",sans-serif;
    border-bottom: 1px solid #fff;
  }
  &__subtitle {
    margin: 0;
    padding: 0;
    font-size: calc(6px + 2vmin);
  }
}
