.header {
  display: flex;
  padding: 10px;
  &__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ccc;
  }
  &__title {
    font-weight: 700;
    margin: 4px 0 0 10px;
    padding: 0;
    font-size: 18px;
    color: #4A4A4A;
  }
}